<ion-header>
  <ion-toolbar>
    <ion-button class="back" (click) = "back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="title">Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <table>
    <tr>
      <th>ISBN</th>
      <th>Título</th>
      <th>Género</th>
      <th>Existencia</th>
      <th>ID Autor</th>
      <th>ID Editorial</th>
      <th> </th>
      <th> </th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><ion-button>Editar</ion-button></td>
      <td><ion-button>Eliminar</ion-button></td>
    </tr>
  </table>
</ion-content>
