.title{
  width: 100px;
  margin: auto;
  display: block;
  padding-top: 10px;
}

.back{
  position: static;
  float: left;
}

table{
  width: 100%;
  th, td{
    border-bottom: 1px solid black;
  }
}
