ion-card{
  width: 500px;
  margin: auto;
  display: block;
  margin-top: 10px;
}

ion-icon{
  font-size: xx-large;
  margin: auto;
  display: block;
  margin-top: 10px;
}

ion-button{
  margin: auto;
  display: block;
  margin-top: 10px;
}

ion-card-title{
  align-content: center;
  text-align: center;
  margin: auto;
  display: block;
  font-weight: bold;
}

