<ion-header>
  <ion-toolbar>
    <ion-button class="back" (click) = "back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="title">Empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="1"></ion-col>
  <ion-col size="10">
    <br>
  <ion-button fill="outline" (click) = "addClick()">Añadir empleado</ion-button>
  <ion-button *ngIf="ActivateAddEditComp" (click) = "closeClick()">Cerrar</ion-button>
  <br>
  <app-add [data] = "data" *ngIf="ActivateAddEditComp"></app-add>
  <ion-item>
    <ion-button (click) = "filter()">Fitrar</ion-button>
    <ion-label></ion-label>
    <ion-input placeholder="Nombre del empleado" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <br>
  <table>
    <thead>
      <tr>
        <th>idEmpleado</th>
        <th>Nombre</th>
        <th>apPaterno</th>
        <th>apMaterno</th>
        <th>Telefono</th>
        <th>idEstado</th>
        <th>idMunicipio</th>
        <th>Colonia</th>
        <th>Calle</th>
        <th>Numero</th>
        <th>Puesto</th>
        <th>Salario</th>
        <th>Faltas</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleados of listEmpleados">
        <td>{{empleados.idEmpleado}}</td>
        <td>{{empleados.nombre}}</td>
        <td>{{empleados.apPaterno}}</td>
        <td>{{empleados.apMaterno}}</td>
        <td>{{empleados.telefono}}</td>
        <td>{{empleados.idEstado}}</td>
        <td>{{empleados.idMunicipio}}</td>
        <td>{{empleados.colonia}}</td>
        <td>{{empleados.calle}}</td>
        <td>{{empleados.numero}}</td>
        <td>{{empleados.puesto}}</td>
        <td>{{empleados.salario}}</td>
        <td>{{empleados.faltas}}</td>
        <td><ion-button fill="outline" (click) = "editClick(empleados)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button></td>
        <td><ion-button fill="outline" color="warning" *ngIf="trash" (click)="confirmar=true; trash=false">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="danger" *ngIf="confirmar" (click) = "deleteClick(empleados.idEmpleado)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" *ngIf="confirmar" (click)="confirmar=false; trash=true">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </td>
      </tr>
    </tbody>
  </table>
  </ion-col>
  <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>
