.title{
  width: 300px;
  margin: auto;
  display: block;
  padding-top: 10px;
  text-align: center;
}

.back{
  position: static;
  float: left;
}

table{
  width: 100%;
  th, td{
    font-size: small;
    border-bottom: 1px solid black;
  }
}
