<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          Register
      </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <div class="ion-text-center">
                          <img src="../../assets/images/Logo.png" id="logo">
                      </div>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>

                          <ion-item>
                              <ion-label position="floating">Id Empleado</ion-label>
                              <ion-input [(ngModel)]="idEmpleado"></ion-input>
                          </ion-item>

                          <ion-item>
                              <ion-label position="floating">Correo</ion-label>
                              <ion-input [(ngModel)]="correo"></ion-input>
                          </ion-item>

                          <ion-item>
                              <ion-label position="floating">Contraseña</ion-label>
                              <ion-input type="password" [(ngModel)]="password"></ion-input>
                          </ion-item>

                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button type="submit" fill="solid" expand="full" (click)="register()">
                          Register
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
  </ion-slide>
  <div *ngIf="false">
    <div *ngFor="let id of listEmpleados">
      <p>{{id.idEmpleados}}</p>
    </div>
  </div>
</ion-content>

