<ion-header>
  <ion-toolbar>
    <ion-button class="back" (click) = "back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="title">Detalles de renta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="1"></ion-col>
  <ion-col size="10">
    <br>
  <ion-button fill="outline" (click) = "addClick()">Añadir detalle</ion-button>
  <ion-button *ngIf="ActivateAddEditComp" (click) = "closeClick()">Cerrar</ion-button>
  <br>
  <app-add [data] = "data" *ngIf="ActivateAddEditComp"></app-add>
  <ion-item>
    <ion-button (click) = "filter()">Fitrar</ion-button>
    <ion-label></ion-label>
    <ion-input placeholder="Id Renta" [(ngModel)]="idRenta"></ion-input>
  </ion-item>
  <br>
  <table>
    <thead>
      <tr>
        <th>id Renta</th>
        <th>ISBN</th>
        <th>Cantidad</th>
        <th>Costo</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detalles of listDetalles">
        <td>{{detalles.idRenta}}</td>
        <td>{{detalles.isbn}}</td>
        <td>{{detalles.cantidad}}</td>
        <td>$  {{detalles.costo}}</td>
        <td><ion-button fill="outline" (click) = "editClick(detalles)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button></td>
        <td><ion-button fill="outline" color="warning" *ngIf="trash" (click)="confirmar=true; trash=false">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="danger" *ngIf="confirmar" (click) = "deleteClick(detalles.idRenta)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" *ngIf="confirmar" (click)="confirmar=false; trash=true">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </td>
      </tr>
    </tbody>
  </table>
  </ion-col>
  <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>
