<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Log in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Log in</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="../../assets/images/Logo.png" id="logo">
  <br><br><br>
  <ion-item class="text">
    <ion-input type="text" placeholder="Correo" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item class="text">
    <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item class="button">
    <ion-button style="margin-right: 5px;" (click) = "login(email, password)">Log in</ion-button>
    <ion-button (click)="logout()">Log out</ion-button>
  </ion-item>

</ion-content>
