#logo{
  width: 300px;
  margin: auto;
  display: block;
  margin-top: 100px;
}

.text{
  width: 300px;
  margin: auto;
  display: block;
}

.button{
  width: 300px;
  margin: auto;
  display: block;
}
